<div class="ps-page--single" id="contact-us">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Trang chủ</a></li>
                <li>Liên hệ</li>
            </ul>
        </div>
    </div>
    <div class="ps-contact-map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62699.9758728302!2d106.68564178338623!3d10.830549349517714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174deb3ef536f31%3A0x8b7bb8b7c956157b!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2hp4buHcCBUUC5IQ00!5e0!3m2!1svi!2s!4v1746806657828!5m2!1svi!2s"
            width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="ps-contact-info">
        <div class="container">
            <div class="ps-section__header">
                <h3>Liên hệ với chúng tôi nếu có bất kỳ vấn đề gì.</h3>
            </div>
            <div class="ps-section__content">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Liên hệ với chúng tôi</h4>
                            <p><a href="#"><span class="__cf_email__"
                                        data-cfemail="e784888993868493a78a8695938192959ec984888a">[email&#160;iuh@edu.vn]</span></a><span>(+84)
                                    321-543-321</span></p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Địa chỉ</h4>
                            <p><span>12 Nguyễn Văn Bảo, Gò Vấp, Ho Chi Minh city</span></p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Làm việc với chúng tôi</h4>
                            <p><span>Gửi CV tới địa chỉ: </span><a href="#"><span
                                        class="__cf_email__"
                                        data-cfemail="f99a988b9c9c8bb994988b8d9f8c8b80d79a9694">[email&#160;iuh@edu.vn]</span></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Chăm sóc khách hàng</h4>
                            <p><a href="#"><span class="__cf_email__"
                                        data-cfemail="5d3e282e293230382f3e3c2f381d303c2f293b282f24733e3230">[email&#160;iuh@edu.vn]</span></a><span>(+84)
                                    321-543-321</span></p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Truyền thông</h4>
                            <p><a href="#"><span class="__cf_email__"
                                        data-cfemail="9ff2fafbf6fedff2feedebf9eaede6b1fcf0f2">[email&#160;iuh@edu.vn]</span></a><span>(+84)
                                    321-543-321</span></p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Hỗ trợ</h4>
                            <p><a href="#"><span class="__cf_email__"
                                        data-cfemail="7600131812190405030606190402361b1704021003040f5815191b">[email&#160;iuh@edu.vn]</span></a><span>(+84)
                                    321-543-321</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-contact-form">
        <div class="container">
            <form [formGroup]="_regform" (ngSubmit)="proceedContact()" class="ps-form--contact-us">
                <h3>Liên hệ vối chúng tôi</h3>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <div class="form-group">
                            <input formControlName="name" class="form-control" type="text" placeholder="Họ và tên*">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <div class="form-group">
                            <input formControlName="email" class="form-control" type="email" placeholder="Email*">
                        </div>
                        <div class="invalid-feedback">
                            Điền email hợp lệ.
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="form-group">
                            <input formControlName="subject" class="form-control" type="text"
                                placeholder="Tiêu đề*">
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="form-group">
                            <textarea formControlName="message" class="form-control" rows="5"
                                placeholder="Nội dung*"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group submit">
                    <button type="submit" class="ps-btn">Chấp nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <div class="ps-newsletter">
    <div class="container">
        <form class="ps-form--newsletter" action="#">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__left">
                        <h3>Bản tin</h3>
                        <p>Đăng ký để nhận thông tin về sản phẩm và phiếu giảm giá</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Địa chỉ Email">
                            <button class="ps-btn">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->