<div class="ps-page--simple">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Trang chủ</a></li>
                <li><a [routerLink]="['/all-product']">Cửa hàng</a></li>
                <li>Thanh toán</li>
            </ul>
        </div>
    </div>
    <div class="ps-checkout ps-section--shopping">
        <div class="container">
            <div class="ps-section__header">
                <h1>Thanh toán</h1>
            </div>
            <div class="ps-section__content">
                <form class="ps-form--checkout" [formGroup]="postForm">
                    <div class="row">
                        <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12">
                            <div class="ps-form__billing-info">
                                <h3 class="ps-form__heading">Thông tin giao hàng</h3>

                                <!-- Fullname -->
                                <div class="form-group">
                                    <label>Họ tên<sup>*</sup></label>
                                    <div class="form-group__content">
                                        <input class="form-control" type="text" *ngIf="cart && cart.user"
                                            [value]="cart.user.name" readonly placeholder="Fullname">
                                    </div>
                                </div>

                                <!-- Phone Number -->
                                <div class="form-group">
                                    <label>Số điện thoại<sup>*</sup></label>
                                    <div class="form-group__content">
                                        <input class="form-control" type="text"
                                            [ngClass]="{'is-invalid':postForm.get('phone')?.touched && postForm.get('phone')?.invalid}"
                                            placeholder="Phone number" formControlName="phone">
                                        <small class="invalid-feedback">Số điện thoại chưa chính xác</small>
                                    </div>
                                </div>

                                <!-- Province Selection -->
                                <div class="form-group">
                                    <label>Tỉnh/Thành phố<sup>*</sup></label>
                                    <select style="font-size: 14px;" id="province" class="form-control form-select" formControlName="province" (change)="onProvinceChange($event)">
                                        <option value="0">Chọn Tỉnh/Thành phố</option>
                                        <option *ngFor="let province of provinces" [value]="province.code">{{ province.name }}</option>
                                    </select>
                                </div>

                                <!-- District Selection -->
                                <div class="form-group">
                                    <label>Quận/Huyện<sup>*</sup></label>
                                    <select id="district" class="form-control form-select" formControlName="district" (change)="onDistrictChange($event)">
                                        <option value="0">Chọn Quận/Huyện</option>
                                        <option *ngFor="let district of districts" [value]="district.code">{{ district.name }}</option>
                                    </select>
                                </div>

                                <!-- Ward Selection -->
                                <div class="form-group">
                                    <label>Phường/Xã<sup>*</sup></label>
                                    <select id="ward" class="form-control form-select" formControlName="ward">
                                        <option value="0">Chọn Phường/Xã</option>
                                        <option *ngFor="let ward of wards" [value]="ward.code">{{ ward.name }}</option>
                                    </select>
                                </div>

                                <!-- House Number -->
                                <div class="form-group">
                                    <label>Số nhà, tên đường<sup>*</sup></label>
                                    <div class="form-group__content">
                                        <input class="form-control" type="text" formControlName="number"
                                            [ngClass]="{'is-invalid':postForm.get('number')?.touched && postForm.get('number')?.invalid}"
                                            placeholder="House Number">
                                        <small class="invalid-feedback">Hãy nhập số nhà và tên đường của bạn</small>
                                    </div>
                                </div>

                                <!-- Order Notes -->
                                <h3 class="mt-40">Thông tin thêm</h3>
                                <div class="form-group">
                                    <label>Lưu ý</label>
                                    <div class="form-group__content">
                                        <textarea class="form-control" rows="7"
                                            placeholder="Nhập lưu ý của bạn"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Order Details -->
                        <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                            <div class="ps-form__total">
                                <h3 class="ps-form__heading">Chi tiết đơn hàng</h3>
                                <div class="content">
                                    <div class="ps-block--checkout-total">
                                        <div class="ps-block__header">
                                            <table class="table ps-block__header">
                                                <tr>
                                                    <td style="width: 294.65px;">Sản phẩm</td>
                                                    <td>Giá gốc</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="ps-block__content">
                                            <table class="table ps-block__products">
                                                <tbody>
                                                    <tr *ngFor="let item of cartDetails; index as i">
                                                        <td>
                                                            <a href="javascript:void(0);">
                                                                {{item.product.name}} × {{item.quantity}}
                                                            </a>
                                                            <p>Thể loại:<strong>{{item.product.category.categoryName}}</strong></p>
                                                        </td>
                                                        <td>{{item.price | currency:'VND'}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h4 class="ps-block__title">Tổng giá gốc: <span>{{amountReal | currency:'VND'}}</span></h4>
                                            <h4 class="ps-block__title">Giảm giá: <span>{{discount | currency:'VND'}}</span></h4>
                                            <h3>Thành tiền: <span style="color: red;padding-left: 40px;">{{amount | currency:'VND'}}</span></h3>
                                        </div>
                                    </div>
                                    <p style="text-align: center;">Thanh toán khi nhận hàng</p>
                                    <a class="ps-btn ps-btn--fullwidth" href="javascript:void(0);" (click)="checkOut()">Confirm checkout</a>
                                    <br>
                                    <p style="text-align: center;">Hoặc</p>
                                    <p style="text-align: center;">Thanh toán trả trước với PayPal</p>
                                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
