
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Forgot Password?</h4>
    </div>
    <div class="modal-footer">
        <form [formGroup]="postForm" style="width: 100%;">
            <div class="form-group">
                <label for="email">Input Your Email</label>
                <input type="email" id="email" [ngClass]="{'is-invalid':postForm.get('email')?.touched && postForm.get('email')?.invalid}" class="form-control" formControlName="email">
                <small class="invalid-feedback">Invalid Email</small>
            </div>            
            <button class="col-4 btn btn-info" (click)="submit()" style="font-size: 15px;">New Password</button>
        </form>
    </div>
</ng-template>

<a (click)="open(content)" style="cursor: pointer;">Forgot Password?</a>